.container {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
  
   
}

.pagesField{
   width: 200px;
   margin-top: 20px;
   margin-left: 350px;
   margin-bottom: 30px;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   cursor: pointer;
}

.currentPage {
   margin-right: 2px;
   font-weight: bolder;
   cursor: pointer;
   transition: ease 1s 0s;
   
}

.currentPage :hover {
   scale: (5, 1.2);
}

.avatar{
 margin-left: 40px;
 width: 100px;
}

.avatar img{
   margin-left: 13px;
   width: 70px;
   height: 70px;
   border-radius: 35px;
   
}

.follower{
   margin-top: 10px;
   
   text-align: center;
}
.follower button {
  width: 70px;
  height: 25px;
   background-color: rgba(22, 22, 202, 0.13);
   border: 1px solid #666;
   border-radius: 2px;

}

.field{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-left: 20px;
   margin-top: 15px;
   background-color: rgba(127, 255, 212, 0.417);
   width: 500px;
   height: 70px;
   border: 3px solid  #666;
   border-radius: 20px;
}
.first_block {
margin-left: 10px;
}

.second_block{
margin-right: 10px;
}
.name {

}
.status {
margin-top: 20px;
}

.city {

}

.country {
   margin-top: 20px;
   text-align: end;
}