.container{
    color: burlywood;
    height: 150px;
    background-color: rgb(209, 236, 182);
    display: flex;
    flex-direction: row;
    perspective-origin: center;
    
    
}

.box1{
    height: 30px;
    width: 50px;
    background-color: rgb(240, 163, 128);
    margin-left: 15px;
    text-align: center;
    transition: all 0.9s ease 0s;
}
.box1:hover{
    transform: translate(20px, 20px)
}


.box2{
    height: 30px;
    width: 50px;
    background-color: rgb(139, 128, 240);
    margin-left: 15px;
    text-align: center;
    transition: all 0.9s ease 0s;
}
.box2:hover{
    transform: translate(20px, 20px)
}


.box3{
    height: 30px;
    width: 50px;
    background-color: rgb(240, 238, 128);
    margin-left: 15px;
    text-align: center;
    transition: all 0.9s ease 0s;
}
.box3:hover{
    transform: translate(20px, 20px)
}


.box4{
    height: 30px;
    width: 50px;
    background-color: rgba(240, 128, 128, 0.116);
    margin-left: 15px;
    text-align: center;
    transition: all 0.9s ease 0s;
}
.box4:hover{
    transform: translate(20px, 20px)
}

.box5{
    height: 50px;
    width: 50px;
    background-color: rgba(179, 2, 164, 0.678);
    margin-left: 15px;
    text-align: center;
    transition: all 0.9s ease 0s;
    transform: perspective(400px);
        

}
.box5:hover{
    transform: translate(20px, 20px)
}

    