.info{
  perspective-origin: center;
  perspective: 400px;
}


.upper img {
  width: 300px;
  box-shadow: 0 0 10px;
  transform: scale(1, 1);
  transition: ease 0.8s 0s;
  margin-bottom: 50px; 

}
.upper img:hover{
  transform: scale(1.2, 1.2);
}

.description {
 display: flex;
 padding: 10px;
}

.info {
  
  padding-left: 30px;
  display: flex;
  flex-direction: column;
 justify-content: space-between;
}

.worker img{
  width: 200px;
  height: 150px;
}





 